.element {
    position: absolute;
    --x: 0;
    --y: 0;
    --w: 1;
    --y: 1;
    --s: 1;
    --r: 0;
    --ts: 1;
    --c: 0;
    --f: 'Yantramanav';
    --bos: 0;
    --bot: solid;
    --boc: #000;
    top: calc(calc(1rem*var(--g))*var(--y));
    left: calc(calc(1rem*var(--g))*var(--x));
    width: calc(calc(1rem*var(--g))*var(--w));
    height: calc(calc(1rem*var(--g))*var(--h));
    transform: rotate(calc(1deg*var(--r))) scale(var(--s));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--f);
    border: calc(calc(1rem*var(--g))*var(--bos)) var(--bot) var(--boc)
  }
  

  
  .element[data-type=paint] {
    overflow: visible;
    transform: none;
    display: block
  }
  
  .element[data-type=paint] svg,
  #drawing svg {
    overflow: visible;
    transform-origin: center;
    transform-origin: top left;
    --ns: 0;
    transform: scale(calc(1 - var(--ns)))
  }
  
  .element[data-type=paint] svg * {
    transform-box: fill-box;
    transform-origin: center
  }
  
  .element[data-type=paint] svg g {
    transform: rotate(calc(1deg*var(--r))) scale(var(--s))
  }
  
  .element[data-type=image] img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    display: block;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    pointer-events: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: calc(1em*var(--c))
  }
  
  .element[data-image=contain] img {
    object-fit: contain
  }
  
  .element[data-type=text] {
    text-align: var(--ta);
    min-height: calc(calc(1rem*var(--g))*var(--h));
    height: auto;
    --ta: center;
    --co: #000;
    --bc: rgba(0, 0, 0, 0);
    background: var(--bc);
    color: var(--co);
    border-radius: calc(1em*var(--c))
  }
  
  .element[data-type=text] .el_content,
  .element[data-type=icon] .el_content,
  .element[data-type=button] button {
    font-size: calc(1em*var(--ts));
    width: 100%
  }
  
  .element[data-type=text] * {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
  }
  
  .element[data-type=text] .el_content>* {
    padding-bottom: 1em
  }
  
  .element[data-type=text] .el_content>*:last-child {
    padding-bottom: 0
  }
  
  .element[data-type=blog] {
    --ts: 1.2;
    --co: #000;
    --boc: var(--co);
    --bos: .05;
    border: none;
    font-size: calc(1em*var(--ts));
    min-height: calc(calc(1rem*var(--g))*var(--h));
    height: auto;
    color: var(--co)
  }
  
  .element[data-type=blog]:before {
    content: 'Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog Blog';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: .08;
    text-transform: lowercase;
    font-family: 'Frank Ruhl Libre';
    word-break: break-all;
    font-size: calc(1em*calc(var(--ts) - .2));
    display: none
  }
  
  .element[data-type=blog]:after {
    content: 'Your blog posts will show up when you publish your site. Click to customize your theme!';
    max-width: 80%;
    text-align: center;
    display: none
  }
  
  .element[data-type=blog] .posts {
    width: 100%;
    height: 100%;
    text-align: left
  }
  
  .element[data-type=blog] [data-bel=title] {
    font-weight: 900
  }
  
  .element[data-type=blog][data-blog-theme=barebones] [data-bel=content]>* {
    padding-bottom: .8rem
  }
  
  .element[data-type=blog][data-blog-theme=barebones] [data-bel=content]>*:last-child {
    padding-bottom: 0
  }
  
  .element[data-type=blog][data-blog-theme=barebones] .post {
    border: calc(calc(1rem*var(--g))*var(--bos)) var(--bot) var(--boc);
    padding: 1.5rem
  }
  
  .element[data-type=blog][data-blog-theme=barebones] .post:not(:last-child) {
    border-bottom: 0
  }
  
  .element[data-type=blog][data-blog-theme=barebones] [data-bel] {
    padding: .2rem 0
  }
  
  .element[data-type=blog][data-blog-theme=barebones] [data-bel=date] {
    font-size: .8em;
    padding-bottom: .4rem
  }
  
  .element[data-type=blog][data-blog-theme=barebones] [data-bel=content] {
    font-size: .9em
  }
  
  .element[data-type=blog][data-blog-theme=barebones] [data-bel]:not([data-bel=date]) {
    padding-left: .5rem
  }
  
  .element[data-type=blog][data-blog-theme=barebones] [data-bel]:first-child {
    padding-top: 0
  }
  
  .element[data-type=blog][data-blog-theme=barebones] [data-bel]:last-child {
    padding-bottom: 0
  }
  
  .element[data-type=icon] {
    color: var(--co);
    --co: #000
  }
  
  .element[data-type=icon] .el_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
  }
  
  .element[data-type=button] {
    --c: .3;
    height: 100%;
    height: calc(calc(1rem*var(--g))*var(--h));
    --bc: #333;
    --co: #fff;
    border: none
  }
  
  .element[data-type=button] button {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: var(--bc);
    color: var(--co);
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: calc(1em*var(--c));
    border: calc(calc(1rem*var(--g))*var(--bos)) var(--bot) var(--boc);
    transition: opacity .3s ease
  }
  
  .element[data-type=button] button span {
    max-width: 80%;
    width: 100%
  }
  
  .element[data-type=shape] .innerShape {
    overflow: hidden;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
  
  .element[data-type=shape] {
    --bc: #000
  }
  
  .element[data-type=shape] svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible
  }
  
  .element[data-type=shape] svg path {
    fill: var(--bc)
  }
  
  .element[data-type=shape] svg path[stroke-miterlimit],
  svg path[stroke-miterlimit] {
    stroke: var(--bc);
    fill: none
  }
  
  .element[data-type=eyes] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(calc(1rem*var(--g))*0.1);
    --eyel: #35f
  }
  
  .element[data-type=eyes] .eyeball {
    background: #fff;
    box-shadow: 0 0 0 calc(calc(1rem*var(--g))*0.1) #000;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: grid;
    position: relative;
    overflow: hidden
  }
  
  .element[data-type=eyes] .eyeball span {
    position: relative
  }
  
  .element[data-type=eyes] .eyeball span:after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    margin: 15% 0;
    height: calc(100%/2);
    width: calc(100%/2);
    background: #000;
    border-radius: 50%
  }
  
  .element[data-type=eyes] .eyeball:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: var(--eyel);
    z-index: 999;
    border-bottom: calc(calc(1rem*var(--g))*0.1) solid #000
  }
  
  .element[style*="rgba(0,0,0,0)"] .eyeball:before {
    border-bottom: 0
  }
  
  .element[data-fun-threed] {
    transform: rotate(calc(1deg*var(--r))) scale(var(--s)) perspective(400px) rotateX(45deg)
  }
  
  .element[data-type=wordart] {
    min-height: calc(calc(1rem*var(--g))*var(--h));
    height: auto
  }
  
  .element[data-type=wordart] p {
    font-size: calc(1em*var(--ts))
  }
  
  .wordart {
    position: relative
  }
  
  .wordart p {
    margin: 0 0 4px
  }
  
  .wordart[data-genre=one] {
    transform: scale(1.05, 1.25)
  }
  
  .wordart[data-genre=one] p {
    font-weight: 900;
    color: #fff;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px #000
  }
  
  .wordart[data-genre=two] {
    transform: scaleY(1.65)
  }
  
  .wordart[data-genre=two] p {
    font-weight: 900;
    color: #000;
    transform: rotate(-3deg) skewY(-10deg)
  }
  
  .wordart[data-genre=three] {
    transform: scaleY(1.65)
  }
  
  .wordart[data-genre=three] p {
    font-style: italic;
    color: #fff;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px #000;
    text-shadow: 3px 2px 0 #999
  }
  
  .wordart[data-genre=four] p {
    font-family: Times New Roman, serif;
    font-weight: 400;
    color: #369;
    text-shadow: 2px 1px 0 #c1c1c1
  }
  
  .wordart[data-genre=five] {
    transform: scaleY(1.25)
  }
  
  .wordart[data-genre=five] p {
    font-weight: 900;
    color: #d8d8d8;
    -webkit-text-fill-color: #d8d8d8;
    -webkit-text-stroke: 1px #33c;
    -webkit-background-clip: text;
    background-clip: text
  }
  
  .wordart[data-genre=five] p:before {
    position: absolute;
    content: attr(data-content);
    color: #99f;
    -webkit-text-fill-color: #99f;
    -webkit-text-stroke: transparent;
    transform: translate(.4vw, .25vw);
    mix-blend-mode: darken
  }
  
  .wordart[data-genre=six] {
    transform: scaleX(.85) translateZ(0)
  }
  
  .wordart[data-genre=six] p {
    font-weight: 900;
    color: transparent;
    background: linear-gradient(#adadad, #fff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: .25rem
  }
  
  .wordart[data-genre=six] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: .125em .125em #717171
  }
  
  .wordart[data-genre=seven] {
    transform: scaleY(1.25)
  }
  
  .wordart[data-genre=seven] p {
    font-family: Impact, sans-serif;
    color: #06c;
    -webkit-text-fill-color: #06c;
    -webkit-text-stroke: .016em #9cf;
    -webkit-background-clip: text;
    background-clip: text
  }
  
  .wordart[data-genre=seven] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: .094em .078em #900
  }
  
  .wordart[data-genre=eight] {
    transform: scaleY(1.25)
  }
  
  .wordart[data-genre=eight] p {
    font-family: Impact, sans-serif;
    color: transparent;
    background: radial-gradient(ellipse at center, #fff812, #ff9a32);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text
  }
  
  .wordart[data-genre=eight] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: .094em .063em #cdcdcd
  }
  
  .wordart[data-genre=nine] {
    transform: scale(.9, 1.65) rotate(-3deg) skewY(-3deg) translateZ(0)
  }
  
  .wordart[data-genre=nine] p {
    font-family: Impact, sans-serif;
    font-weight: 700;
    color: transparent;
    background: linear-gradient(#6900cc, #cb00cc);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .016em #d2a2fe;
    -webkit-background-clip: text;
    background-clip: text
  }
  
  .wordart[data-genre=nine] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    -webkit-text-stroke: transparent;
    text-shadow: .094em .063em #adadff
  }
  
  .wordart[data-genre=ten] {
    transform: scale(.85, 1.25)
  }
  
  .wordart[data-genre=ten] p {
    font-family: Times New Roman, serif;
    font-weight: 400;
    color: #1a4b28;
    -webkit-text-fill-color: #1a4b28;
    -webkit-text-stroke: 1.5px green
  }
  
  .wordart[data-genre=ten] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    font-size: 10vmin;
    color: #d2e5dc;
    -webkit-text-fill-color: #d2e5dc;
    -webkit-text-stroke: transparent;
    transform: translate(-2.5vmin, -4vmin)
  }
  
  .wordart[data-genre=eleven] {
    transform: scaleY(1.65)
  }
  
  .wordart[data-genre=eleven] p {
    font-weight: 900;
    color: transparent;
    background: linear-gradient(to left, #a104ad, #0b2be0, #329941, #f7f658, #f16412, #e92153, #aa04a7);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .016em #eaeaea;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: .1rem
  }
  
  .wordart[data-genre=eleven] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    color: #cdcdcd;
    -webkit-text-fill-color: #cdcdcd;
    -webkit-text-stroke: transparent;
    transform: rotateX(63deg) skew(60deg) scaleY(.65) translate3d(2em, -2.15em, -1em)
  }
  
  .wordart[data-genre=twelve] p {
    font-family: Times New Roman, serif;
    font-weight: 400;
    color: transparent;
    background: linear-gradient(#999cfc, #1b999c);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text
  }
  
  .wordart[data-genre=twelve] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: .031em .031em #cdcdcd
  }
  
  .wordart[data-genre=thirteen] {
    transform: scale(.65, 1.65)
  }
  
  .wordart[data-genre=thirteen] p {
    font-weight: 900;
    color: #896640
  }
  
  .wordart[data-genre=thirteen] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: 1px 0 #1b0d00, 2px 0 #1b0d00, 3px 0 #1b0d00, 4px 0 #1b0d00, 5px 0 #1b0d00, 6px 0 #1b0d00, 7px 0 #1b0d00
  }
  
  .wordart[data-genre=fourteen] {
    transform: scale(.85, 1.3) translateZ(0)
  }
  
  .wordart[data-genre=fourteen] p {
    font-family: Times New Roman, serif;
    font-weight: 400;
    background: linear-gradient(#fffecb, #f99);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: -.1vw
  }
  
  .wordart[data-genre=fourteen] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: -1px 0 0 #002245, 0 -1px 0 #0050a0, -2px -1px .25px #002245, -1px -2px .25px #0050a0, -3px -2px .25px #002245, -2px -3px .25px #0050a0, -4px -3px .25px #002245, -3px -4px .25px #0050a0, -5px -4px 0px #002245, -4px -5px 0px #0050a0
  }
  
  .wordart[data-genre=fifteen] {
    transform: perspective(200px) rotateX(30deg) scaleY(1.65)
  }
  
  .wordart[data-genre=fifteen] p {
    font-weight: 900;
    color: transparent;
    background: linear-gradient(#551700, #fecb00);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #b2b2b2;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: .1vw
  }
  
  .wordart[data-genre=fifteen] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    color: #ab8d56;
    -webkit-text-fill-color: #ab8d56;
    -webkit-text-stroke: transparent;
    transform: perspective(250px) translateY(-.643em) rotateX(70deg) scale(1) translateZ(-1em)
  }
  
  .wordart[data-genre=sixteen] {
    transform: scale(.8, 1.2)
  }
  
  .wordart[data-genre=sixteen] p {
    font-family: Impact, sans-serif;
    font-weight: 900;
    color: #3cf;
    -webkit-text-stroke: 1.25px #009;
    text-shadow: .35rem -.35rem 0 #009;
    letter-spacing: -.15vw
  }
  
  .wordart[data-genre=seventeen] {
    transform: scale(1.05, 1.25)
  }
  
  .wordart[data-genre=seventeen] p {
    font-weight: 900;
    color: transparent;
    background: repeating-linear-gradient(180deg, transparent, transparent 1px, #ff0 1px, #ff0 4px), repeating-linear-gradient(-50deg, gray, gray 5px, #ff0 5px, #ff0 8px);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
    -webkit-background-clip: text;
    background-clip: text
  }
  
  .wordart[data-genre=seventeen] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: 3px 2px 0 #999
  }
  
  .wordart[data-genre=eighteen] {
    transform: scaleY(1.5) translateZ(0)
  }
  
  .wordart[data-genre=eighteen] p {
    font-family: Times New Roman, serif;
    font-weight: 400;
    background: linear-gradient(#b6b6b6 0%, #5f5f5f 20%, #b1b1b1 30%, #fff 64%, #6c6c6c 65%, #373737 66%, #515151 67%, #787878 75%, #d2d2d2 80%, #d2d2d2 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text
  }
  
  .wordart[data-genre=eighteen] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: -1px 0 0 #4a4a4a, 0 -1px 0 #8b8b8b, -2px -1px .125px #4a4a4a, -1px -1px .125px #8b8b8b, -3px -2px .125px #4a4a4a, -2px -2px .125px #8b8b8b, -4px -3px .125px #4a4a4a, -3px -3px .125px #8b8b8b, -5px -4px .125px #4a4a4a, -4px -4px .125px #8b8b8b, -5px -5px 0 #4a4a4a, -5px -5px 0 #8b8b8b
  }
  
  .wordart[data-genre=nineteen] {
    transform: scale(.65, 1.75)
  }
  
  .wordart[data-genre=nineteen] p {
    font-weight: 900;
    color: #0f3a1a;
    transform: perspective(100px) rotateY(6deg) rotateZ(-7deg)
  }
  
  .wordart[data-genre=nineteen] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: -1px 0 0 #000800, 0 -1px 0 #005600, -2px -1px .125px #000800, -1px -2px .125px #005600, -3px -2px .125px #000800, -2px -3px .125px #005600, -4px -3px .125px #000800, -3px -4px .125px #005600, -5px -4px .125px #000800, -4px -5px .125px #005600, -6px -5px .125px #000800, -5px -6px .125px #005600, -7px -6px 0 #000800
  }
  
  .wordart[data-genre=twenty] {
    transform: perspective(100px) rotateY(6deg) rotateZ(-3deg) skewY(15deg) scale(.8, 1.25)
  }
  
  .wordart[data-genre=twenty] p {
    font-family: Impact, sans-serif;
    color: transparent;
    background: linear-gradient(to left, #747474, #fff, #747474);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text
  }
  
  .wordart[data-genre=twenty] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: -1px 0 0 #72745b, 0 1px 0 #2c2d23, -2px 1px .5px #72745b, -1px 2px .5px #2c2d23, -3px 2px .5px #72745b, -2px 3px .5px #2c2d23, -4px 3px .5px #72745b, -3px 4px .5px #2c2d23, -5px 4px .5px #72745b, -4px 5px .5px #2c2d23, -6px 5px .5px #72745b, -5px 6px .5px #2c2d23, -7px 6px .5px #72745b, -6px 7px .5px #2c2d23, -8px 7px .5px #72745b, -7px 8px .5px #2c2d23, -9px 8px .5px #72745b, -8px 9px .5px #2c2d23, -10px 9px .5px #72745b, -9px 10px .5px #2c2d23, -11px 10px .5px #72745b, -10px 11px .5px #2c2d23, -12px 11px .5px #72745b, -11px 12px .5px #2c2d23, -13px 12px .5px #72745b, -12px 13px .5px #2c2d23, -14px 13px .5px #72745b, -13px 14px .5px #2c2d23, -15px 14px .5px #72745b, -14px 15px .5px #2c2d23, -16px 15px .5px #72745b, -15px 16px .5px #2c2d23, -17px 16px .5px #72745b, -16px 17px .5px #2c2d23, -18px 17px 0 #72745b, -17px 18px 0 #2c2d23
  }
  
  .wordart[data-genre=twentyone] {
    transform: scaleY(1.5) skewY(-8deg) rotateZ(-3deg) translateZ(0)
  }
  
  .wordart[data-genre=twentyone] p {
    font-family: Impact, sans-serif;
    color: transparent;
    background: linear-gradient(to bottom left, #fee601, #fee601 15%, #fe4201);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text
  }
  
  .wordart[data-genre=twentyone] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: 1px 0 0 #813300, 0 1px 0 #c14d00, 2px 1px .35px #813300, 1px 2px .35px #c14d00, 3px 2px .35px #813300, 2px 3px .35px #c14d00, 4px 3px .35px #813300, 3px 4px .35px #c14d00, 5px 4px .35px #813300, 4px 5px .35px #c14d00, 6px 5px .35px #813300, 5px 6px .35px #c14d00, 7px 6px .35px #813300, 6px 7px .35px #c14d00
  }
  
  .wordart[data-genre=twentytwo] {
    transform: scale(.75, 1.65) translateZ(0)
  }
  
  .wordart[data-genre=twentytwo] p {
    font-weight: 900;
    background: linear-gradient(#ccdfec 0%, #7a97bc 20%, #8aacc6 30%, #fff 50%, #b8908f 51%, #80302d 52%, #b84d4a 55%, #e7cfc9 75%, #916e66 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: -.2vw
  }
  
  .wordart[data-genre=twentytwo] p:before {
    position: absolute;
    content: attr(data-content);
    z-index: -1;
    text-shadow: 1px 0 0 #000, 0 1px 1px #a1a1a1, 2px 1px 1px #000, 1px 2px 1px #a1a1a1, 3px 2px 1px #000, 2px 3px 1px #a1a1a1, 4px 3px 1px #000, 3px 4px 1px #a1a1a1, 5px 4px 1px #000, 4px 5px 1px #a1a1a1, 6px 5px 1px #000, 5px 6px 1px #a1a1a1, 7px 6px 1px #000, 6px 7px 1px #a1a1a1, 8px 7px 1px #000, 7px 8px 1px #a1a1a1, 9px 8px 1px #000, 8px 9px 1px #a1a1a1, 10px 9px 0 #000
  }
  
  .element[data-fun-markoui],
  .marquee {
    overflow: hidden;
    display: block
  }
  
  .element[data-fun-markoui]:before,
  .marquee:before {
    display: block;
    white-space: pre;
    content: attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text) "        "attr(data-fun-text);
    width: fit-content;
    transform: translate3d(-2%, 0, 0);
    will-change: transform;
    font-size: calc(1em*var(--ts))
  }
  
  @media (prefers-reduced-motion:no-preference) {
  
    .element[data-fun-markoui=normal]:before,
    .marquee:before {
      animation: marquee 6s linear infinite
    }
  
    .element[data-fun-markoui=opposite]:before {
      animation-direction: reverse
    }
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(-2%, 0, 0)
    }
  
    100% {
      transform: translate3d(calc(-2% - 5% - 1px), 0, 0)
    }
  }
  
  @keyframes coolblink {
    0% {
      opacity: 1
    }
  
    50% {
      opacity: 0
    }
  
    100% {
      opacity: 1
    }
  }
  
  .element[data-fun-markoui],
  .marquee {
    margin: 0;
    display: flex;
    align-items: center;
    flex: 1;
    pointer-events: all
  }
  
  .element[data-fun-markoui] .el_content,
  .marquee p {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
  }
  
  .element[data-fun-coolblink] {
    animation: coolblink .7s ease-in-out infinite
  }
  