{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div class="tags pb-4 pt-2">
    <!-- <div>{{ $label }}:</div> -->
    <!-- <ul>
      {{- range . }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul> -->
    {{- range . }}
        <a class="badge rounded-pill text-uppercase text-bg-secondary" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{- end }}
  </div>
{{- end }}
